html, body, .right-side.home, #map {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map{
  width:100%;position:relative;
}

body,.navbar-brand,.navbar-nav{
	font-family: 'Open Sans', serif;
}

ul{
  list-style-type: square;
  padding-left: 18px;
}

ul.photos{
  list-style-type: none;
  padding-left: 0px;
  li{
    font-weight: bold;
  }
}

.spacey {
  padding-top: 60px;
}

.always-spacey {
  padding-top: 60px;
}

.left-side{
  padding-top: 30px;
  margin-top: 50px;
}

.right-side.home{
  padding-top: 50px;
}

.right-side.home #overlay{
   position:absolute; 
   top:100px; 
   right:0px; 
   height:50px; 
   width:75%; 
   z-index: 100;
}

.listing{
	position:relative;
	margin-bottom: 20px;
	font-family: 'Open Sans', serif;
}

#listings{
	overflow-y: scroll;
}

.listing-title{
	margin-top: 10px;
}

h3.listing-title{
	font-size: 11pt;
}
.overlay-price{
	position:absolute;
	bottom: 45px;
	left: 0px;
	background-color: #3c3f40;
	background-color: rgba(60,63,64,0.9);
	padding: 10px;
	color: #fff;
}

.overlay-verified{
  position:absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.navbar{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.filters {
  padding-bottom: 20px;
  .verified {
    margin-top: 7px;
  }
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 400px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}

form input[type="text"], form input[type="number"] {
  padding: 15px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  height: 100%;
  border-radius: 0px;
}

#insertForm .panel,
#updateForm .panel {
  display: none;
}

#login-dropdown-list{
  padding-right: 5px;
  padding-top: 10px;
  .login-dropdown-list,.dropdown-toggle {
    color: white;
  }
}

#listings{
  .contact-link{
    position: absolute;
    top: 10px;
    right:10px;
    a {
      color: white;
      font-weight: bold;
    }
  }
}

#listing{
  .contact-link{
    padding-bottom: 10px;
    float:right;
    a {
      font-weight: bold;
    }
  }
}

.navbar-brand {
  color: #ADD8E6 !important;
  font-weight: bold;
  font-size: 18px;
  padding: 4px;
}

.right-side.listing{
  padding-top: 70px;
}

.alert{
  a {
    color: white;
    font-weight: bold;
  }
}

.accordion-toggle .fa-plus {
  display:none;
}

.accordion-toggle .fa-minus {
  display:block;
  float: left;
  padding-right: 10px;
}

.accordion-toggle.collapsed .fa-plus {
  display:block;
  float: left;
  padding-right: 10px;
}

.accordion-toggle.collapsed .fa-minus {
  display:none;
}

.panel-title .date{
  float:right;
}

#slider{
  float:left;
  width: 80% !important;
}
#slider-low{
  float:left;
  width: 10%;
  padding-left: 13px;
  font-weight:bold;
}
#slider-high{
  float:left;
  text-align:right;
  width: 10%;
  padding-right: 13px;
  font-weight:bold;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color:#222222;
}

.rating {
  unicode-bidi: bidi-override;
  float: left;
}
.rating a.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  text-decoration:none;
}
.rating a.star:hover {
  cursor: pointer;
  text-decoration:none;
}
.rating a.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #777777;
}
.rating a.star:hover:before,
.rating a.star:hover ~ a.star:before {
  //content: "\f005";
  color: #e3cf7a;
}

.rating a.star.starred:before {
  content: "\f005";
  color: #e3cf7a;
}

.panel-title {
  font-size: 15px;
}


.filtertoggle {
  padding-bottom: 12px;
}

@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */



  .navbar-right {
    padding-left: 15px;
  }



}

/*full width container*/
@media (max-width: 767px) {
  .block {
      margin-left: -20px;
      margin-right: -20px;
  }
  .spacey {
    padding-top: 0px;
  }

  .right-side.listing{
    padding-top: 10px;
  }
  #map {
    //margin-left: 30px;
  }
  .right-side.home{
    //margin-right: 75px;
  }
  .right-side.listing{
    padding-top: 0px;
  }

  .right-side.home {
    padding-top: 0px;
  }

  #listings {
    overflow-y: hidden;
  }

  .left-side {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  #slider{
  float:left;
  width: 70% !important;
  }
  #slider-low{
    float:left;
    width: 15%;
    padding-left: 13px;
    font-weight:bold;
  }
  #slider-high{
    float:left;
    text-align:right;
    width: 15%;
    padding-right: 13px;
    font-weight:bold;
  }

  .filtertoggle {
  padding-bottom: 5px;
 }

 .right-side.home #overlay{
   position:absolute; 
   top:40px; 
   right:0px; 
   height:50px; 
   width:75%; 
   z-index: 100;
  }

}