html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial;
}

#map{width:100%;position:absolute;top:50px;bottom:0px;left:0;right:0;min-height:500px;}


body,.navbar-brand,.navbar-nav{
	font-family: 'Open Sans', serif;
}

.navbar-brand{
	color: #FFA500 !important;
}

.listing{
	position:relative;
	margin-bottom: 20px;
	font-family: 'Open Sans', serif;
}

#listings{
	overflow-y: scroll;
}

.listing-title{
	margin-top: 10px;
}

h3.listing-title{
	font-size: 11pt;
}
.overlay-price{
	position:absolute;
	bottom: 45px;
	left: 0px;
	padding: 7px 10px;
	background-color: #3c3f40;
	background-color: rgba(60,63,64,0.9);
	padding: 10px;
	color: #fff;
}

.left-side,
.spacey{
  margin-top: 50px;
}

.left-side{
  top: 20px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 400px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

form input[type="text"], form input[type="number"] {
  padding: 15px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  height: 100%;
  border-radius: 0px;
}

#insertForm .panel {
  display: none;
}