html, body, .right-side.home, #map {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map{
  width:100%;position:relative;
}

a {
  color: #4095AD;
}

.noUi-connect {
  background: #E6E6E6;
  box-shadow: none;

}

body{
	font-family: 'Open Sans', serif;
}

.navbar-brand, .navbar-nav, h1, h2, h3, h4{
  font-family: 'Merriweather Sans', sans-serif;
}

.navbar{
  background-color: #334852;
  border-color: #334852;
  padding-left: 8px;
  padding-right: 8px;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
}

.navbar-brand, .navbar-nav{
  font-size:14px;
}

ul.navbar-left a:hover, ul.navbar-left a:focus { background-color: #363F43 !important; }

h1, h2{
  font-size: 26px;
}

h3{
  font-size: 22px;
}

h4{
  font-size: 20px;
}

.collapsing{
    -webkit-transition: none;
          transition: none;
}

ul{
  list-style-type: square;
  padding-left: 18px;
}

ul.photos{
  list-style-type: none;
  padding-left: 0px;
  li{
    font-weight: bold;
  }
}

.spacey {
  padding-top: 60px;
}

.always-spacey {
  padding-top: 60px;
}

.left-side{
  padding-top: 75px;
}

.right-side.home{
  padding-top: 50px;
}

.right-side.home #overlay{
   position:absolute; 
   top:75px; 
   right:0px; 
   height:50px; 
   width:75%; 
   z-index: 100;
}

.left-side.home{
  height: 100%;
}

.listing{
	position:relative;
	margin-bottom: 20px;
	font-family: 'Open Sans', serif;
}

#listings{
	overflow-y: scroll;
}

.listing-title{
	margin-top: 10px;
}

h3.listing-title{
	font-size: 11pt;
}
.overlay-price{
	position:absolute;
	bottom: 45px;
	left: 0px;
	background-color: #3c3f40;
	background-color: rgba(60,63,64,0.9);
	padding: 10px;
	color: #fff;
}

.overlay-verified{
  position:absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.navbar{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.filters {
  padding-bottom: 20px;
  .verified {
    margin-top: 7px;
  }
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 400px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}

form input[type="text"], form input[type="number"] {
  padding: 12px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  height: 100%;
  border-radius: 0px;
}

#insertForm .panel,
#updateForm .panel {
  display: none;
}

#login-dropdown-list{
  padding-right: 5px;
  padding-top: 13px;
  padding-left: 15px;
  .login-dropdown-list,.dropdown-toggle {
    color: white;
  }
}

#listings{
  .contact-link{
    position: absolute;
    top: 10px;
    right:10px;
    a {
      color: white;
      font-weight: bold;
    }
  }
}

#listing{
  .contact-link{
    padding-bottom: 10px;
    float:right;
    a {
      font-weight: bold;
    }
  }
}

.navbar-brand {
  color: #ADD8E6 !important;
  font-weight: bold;
  font-size: 18px;
  padding: 4px;
  padding-right: 20px;
}

.right-side.listing{
  padding-top: 70px;
}

.alert{
  a {
    color: white;
    font-weight: bold;
  }
}

.accordion-toggle .fa-plus {
  display:none;
}

.accordion-toggle .fa-minus {
  display:block;
  float: left;
  padding-right: 10px;
}

.accordion-toggle.collapsed .fa-plus {
  display:block;
  float: left;
  padding-right: 10px;
}

.accordion-toggle.collapsed .fa-minus {
  display:none;
}

.panel-title .date{
  float:right;
}

#slider{
  float:left;
  width: 80% !important;
}
#slider-low{
  float:left;
  width: 10%;
  padding-left: 13px;
  font-weight:bold;
}
#slider-high{
  float:left;
  text-align:right;
  width: 10%;
  padding-right: 13px;
  font-weight:bold;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color:#334852;
}

.rating {
  unicode-bidi: bidi-override;
  float: left;
}
.rating a.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 20px;
  text-decoration:none;
}
.rating a.star:hover {
  cursor: pointer;
  text-decoration:none;
}
.rating a.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #777777;
}
.rating a.star:hover:before,
.rating a.star:hover ~ a.star:before {
  //content: "\f005";
  color: #e3cf7a;
}

.rating a.star.starred:before {
  content: "\f005";
  color: #e3cf7a;
}

.panel-title {
  font-size: 14px;
}


.filtertoggle {
  padding-bottom: 12px;
}

/* Compatible with Leaflet 0.7 */
.leaflet-touch .leaflet-bar-part-single {
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: none;
}
.leaflet-touch .leaflet-control-locate {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.leaflet-control-locate a {
  font-size: 1.4em;
  color: #444;
  padding:0px !important;
}
.leaflet-control-locate.active a {
  color: #2074B6;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
}

/* Mapbox specific adjustments */
.leaflet-control-locate a {
  padding: 3px 0 0 8px;
}
.leaflet-control-locate.requesting a {
  padding: 3px 0 0 4px;
}


@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */

  .navbar-right {
    padding-left: 15px;
  }

}


/*full width container*/
@media (max-width: 991px) {
  .spacey {
    padding-top: 0px;
  }
  .right-side.listing{
    padding-top: 0px;
  }
}

/*full width container*/
@media (max-width: 767px) {
  .block {
      margin-left: -20px;
      margin-right: -20px;
  }
  .spacey {
    padding-top: 0px;
  }

  .right-side.listing{
    padding-top: 0px;
  }

  .right-side.home {
    padding-top: 0px;
  }

  #listings {
    overflow-y: hidden;
  }

  .left-side {
    padding-top: 8px;
    padding-bottom: 0px;
    margin-top: 50px;
  }

  #slider{
  float:left;
  width: 70% !important;
  }
  #slider-low{
    float:left;
    width: 15%;
    padding-left: 13px;
    font-weight:bold;
  }
  #slider-high{
    float:left;
    text-align:right;
    width: 15%;
    padding-right: 13px;
    font-weight:bold;
  }

  .filtertoggle {
  padding-bottom: 5px;
 }

 .right-side.home #overlay{
   position:absolute; 
   top:10px; 
   right:0px; 
   height:50px; 
   width:75%; 
   z-index: 100;
  }

.left-side.home{
  height: auto;
}

}



