html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial;
}


#map{width:100%;position:absolute;top:50px;bottom:0px;left:0;right:0;}


@media all and (max-width: 480px) {
  /* styles for iPhone/Android landscape (and really narrow browser windows) */

}

@media all and (max-width: 320px) {
  /* styles for iPhone/Android portrait */

}

@media all and (max-width: 240px) {
  /* styles for smaller devices */

}

/* Compatible with Leaflet 0.7 */
.leaflet-touch .leaflet-bar-part-single {
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: none;
}
.leaflet-touch .leaflet-control-locate {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.leaflet-control-locate a {
  font-size: 1.4em;
  color: #444;
  padding:0px !important;
}
.leaflet-control-locate.active a {
  color: #2074B6;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
}

/* Mapbox specific adjustments */
.leaflet-control-locate a {
  padding: 3px 0 0 8px;
}
.leaflet-control-locate.requesting a {
  padding: 3px 0 0 4px;
}