<template name="about">
  <div class="always-spacey"></div>
  <div class="col-md-7">
    <h1>About</h1>
    <h3>Welcome to Tiny Acre, the tiny house movement's marketplace</h3>
    <p>We believe that there are a lot of tiny spaces to fill with tiny homes and encourage home and landowners to list their available space for tiny house parking. Have a tiny already that needs a great occupant? Post that too!</p>
    <p><strong>Looking for a place to park your tiny or a tiny already parked and ready to move into?</strong> Browse around and when you're ready to learn more about a spot just hit the contact button and send the owner a note. See what unfolds from there.</p>
    <p><strong>Have a place to park a tiny?</strong> Create an account and post a listing. Then let the tiny owners find you.</p>
    <h3>Pricing</h3>
    <div class="col-md-4">
      <h4><strong>Tiny Listing<br />$8/month</strong></h4>
       <ul>
            <li>Unlimited messaging</li>
            <li>Up to 10 photos</li>
            <li>Don't pay until it's perfect</li>
            <li>Cancel anytime</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4><strong>Tiny Acre Verified Listing<br />$8/month + $100 one time</strong></h4>
       <ul> 
            <li>All of the Tiny Listing features, plus...</li>
            <li>Site visit and assessment</li>
            <li>Professional quality photos</li>
            <li>Promoted on site</li>
      </ul>
    </div>

  </div>
  <div class="col-md-5">
    <div class="spacey"></div>
    <p><img src="/images/verified_badge_lg.png" title="Tiny Acre Verified Listing" align="left" style="padding-right: 10px; padding-bottom: 500px; padding-top: 10px;"><h3>Tiny Acre Verified</h3> Look for these listings that have been personally reviewed by us on location. We have measured the site, sized up the overall space to ensure that the listing is accurate and taken some great photos to show it off best. This hands on expert assessment gives you piece of mind when shopping for a tiny home or home for your tiny.
    <br /><br />
    Want your listing to be Tiny Acre Verified?  <a href="mailto:matt@tinyacre.com">Contact us</a> for more info or just check the box when you create your listing and we'll contact you.
    </p> 
    <br /><br />
    <p><a href="#" id="openterms" class="btn btn-default">Terms and Conditions</a></p>
  </div>

</template>